.navigation {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  height: auto;
  max-height: 100px;
  font-size: 1.25em;
}

.navigationwrap {
  display: flex;
  background: #282C34;
  padding: 5px;
}

.navigationItem {
  display: inline-flex;
  align-items: center;
  margin: 0 1em;
}

.navigationItem a {
  color: white;
  text-decoration: none;
}

.navigationlogo {
  width: 60px;
  height: 60px;
}
